
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	background-image:url(../imgs/fundo2.jpg);
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 10%;	
}


#fundoGame {	
	width:950px;
	height:630px;
	background-image:url(../imgs/fundo_game.jpg);
	border-color:#FFF;
	border-style:solid;
}
button{
	width: 80px;
	height: 40px;
	margin-top: 5%;
	background-color: rgba(2, 77, 39, 0.8);
	border: none;
	color: #fff;
	cursor: pointer;

}

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left: 550px;
	top:250px;
	background-image:url(../imgs/apache.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 60%;
	top: 25%;
	background-image:url(../imgs/inimigo1.png);
	
}

#inimigo2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 60%;
	top: 70%;
	background-image: url(../imgs/inimigo2.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 34%;
	top: 70%;
	background-image:url(../imgs/amigo.png);
}

#inicio {
	width:350px;
	height:200px;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}
/*ANIMAÇÕES*/
.jogador {
	background-image:url(../imgs/helicoptero.png);
	animation:play .2s steps(2) infinite;
	/*
       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
	   */
}
.inimigo1 {
	background-image:url(../imgs/inimigo1.png);
	animation:play .2s steps(2) infinite;
	/*
       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
	   */
}
@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}

dddaaaadddddadinimigo2 {
	background-image:url(../imgs/inimigo2.png);
	animation:play2 1.2s steps(12) infinite;
	/*
       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
	   */
}
.amigo {
	background-image:url(../imgs/amigo.png);
	animation:play2 .9s steps(4) infinite;
	/*
       -webkit-animation: play .5s steps(2) infinite;
       -moz-animation: play .5s steps(2) infinite;
       -ms-animation: play .5s steps(2) infinite;
       -o-animation: play .5s steps(2) infinite;
	   */
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}

#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparo.png);
}
#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}
#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
}
#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}
.anima4 {
	width:44px;
	height:51px;
	background-image:url(../imgs/explosao.png);
	animation:play3 .5s steps(7) infinite;
	-webkit-animation: play3 .5s steps(7) infinite;
       -moz-animation: play3 .5s steps(7) infinite;
        -ms-animation: play3 .5s steps(7) infinite;
         -o-animation: play3 .5s steps(7) infinite;
}
@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}
#placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 159px;
	top: 10px;
}

h2 {
	font-family:Titulo;
	font-size:20px;
	color:#FFF
}
#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}
